@import url("styles/reset/reset.css");
@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url("fonts/fertigo.css");
html, body {height:100%;}
body {background: url(images/bodybg.jpg) repeat; font-family:"Helvetica Neue", Helvetica, Verdana, sans-serif; color:#3b2f27; position:relative;}
h1 {font-size:3.2em; font-family: "Helvetica Neue", Helvetica, Verdana, sans-serif;}
#sitename {font-weight:bold; color:#124d2c; text-shadow:#f5d18b 1px 1px 1px;  float:left; padding:9px 0 0 40px;}
#sitename a {color:#124d2c; text-decoration:none;}
#sitename.logotext a {display:block; color:#5c1904; text-shadow:#f1d8a4 1px 1px 1px;}
#sitename.logotext a:hover {color:#e6ded5!important; text-shadow:#5f4d3b 1px 1px 1px!important; text-decoration:none!important;}
#sitename a:hover {color:#052714;}
#sitename.logo a {display:block; background:url(images/memoirelogo.png) no-repeat; height:34px; width:217px;text-indent:-4000px; overflow:hidden;}
a {color:#0d4022; text-decoration:none;}
a:hover { text-decoration:underline;}
#wrap {width:840px; margin:auto; background:url(images/wrapbg.png) center top no-repeat; padding-top:80px; min-height:100%; position: relative;}
#top {background:url(images/top.png) no-repeat; height:66px; padding-top:38px;}
#page {background: url(images/pagebg.png) repeat-y; padding:0 40px;}
#pageheader {margin-bottom:15px;}
.homeheader {background:url(images/header.jpg) no-repeat; height:292px;}
.normalheader {background:url(images/normalheader.jpg) no-repeat; height:134px;}
#contents {width:540px; float:left; padding-right:10px; background:url(images/sidebar-devider.png) right top repeat-y; min-height:550px; margin-bottom:10px; }
#sidebar {width:180px; float:right; padding-left:10px; margin-bottom:10px;}
#pagefooter {background:url(images/footerbg.jpg) left bottom repeat-x; height:173px;}
#f-content {background:url(images/btmbg.png) no-repeat; width:840px; height:120px; margin:0 auto; position:relative;}
#footerimg {position:absolute; right:20px; top:5px;}
p, ul, ol {font-size:1.2em;}
#page p {line-height:18px;}
.post {margin-bottom:20px; padding:10px;}
#page h2 {font:2.4em 'Lobster', Arial, Helvetica, sans-serif; color:#621907; text-shadow:#ead7be 1px 1px 1px;}
.post h2 a {color:#621907!important;}
.post h2 a:hover {color:#280901!important; text-decoration:none!important;}
.postheader {margin-bottom:10px;}
.postinfo {font-size:1.1em; font-style:italic; margin-bottom:0!important;}
.post p {margin-bottom:10px;}
.postfooter {height:25px;}
.postfooter li {display:inline;}
.postfooter li a {display:block; float:left; padding:3px 10px 0 25px; height:20px; color:#231c17; text-shadow:#eddbc2 1px 1px 1px;}
.postfooter .plink a {background:url(images/permalink.png) left top no-repeat; margin-right:10px;}
.postfooter .cment a {background:url(images/comment.png) left top no-repeat;}
.blog-nav { height:30px; margin-bottom:10px; padding:0 10px;}
.blog-nav a {display:block; height:28px; width:28px; text-indent:-4000px; overflow:hidden;}
a.next-link {background:url(images/nextbtn.jpg) no-repeat; float:right;}
a.pre-link {background:url(images/prebtn.jpg) no-repeat; float:left;}
#social-links{ padding:23px 0 0 45px; width:500px; height:40px; margin-bottom:3px;}
#social-links a {display:block; width:42px; height:30px; text-indent:-4000px; overflow:hidden; float:left;}
#social-links .fblink {background:url(images/fbbg.png) 0 3px no-repeat;}
#social-links .twtlink {background:url(images/twtbg.png) 0 3px no-repeat;}
#social-links a:hover {background-position:top!important;}
#credits {color:#362012; width:715px; padding:0 30px}
#credits a {color:#362012}
#credits p { font-size:1.1em; display:block; text-shadow:#f4cd85 1px 1px 1px;}
#credits .sitecredit {float:left; width:60%;}
#credits .designcredit {float:right; width:30%; text-align:right;}

#sidebar h2 {margin-bottom:10px;}
#sidebar ul, #sidebar p {margin-bottom:10px;}
#sidebar li {display:block; height:25px;}
#sidebar li a {display:block; color:#2d241e; line-height:24px; height:24px; background:url(images/li1.png) left center no-repeat; padding:0 10px 0 15px;}
#sidebar li a:hover {color:#500e07; text-decoration:none!important; background:url(images/li2.png) left center no-repeat;}
#mainnav ul {height:35px; float:right; padding-top:13px; padding-right:40px;}
#mainnav li {display:inline; font:bold 1.2em "Helvetica Neue", Helvetica, Verdana, sans-serif; text-transform:uppercase;}
#mainnav li a {display:block; float:left; height:31px; padding-right:20px; color:#fbdca6!important; text-shadow:#4a2f13 1px 1px 1px; background:url(images/menur2.png) right top no-repeat; margin:0 5px;}
#mainnav li a span {display:block; float:left; background:url(images/menul2.png) left top no-repeat; padding:4px 0 0 20px; height:27px;}
#mainnav li a:hover {color:#000!important; text-decoration:none!important; background:url(images/menur1.png) right top no-repeat; text-shadow:#fff 1px 1px 1px;}
#mainnav li a:hover span {background:url(images/menul1.png) left top no-repeat;}
#mainnav li.active a {color:#621907!important; background:url(images/menur1.png) right top no-repeat; text-shadow:#fff 1px 1px 1px;}
#mainnav li.active a span {background:url(images/menul1.png) left top no-repeat;}

.sitedescription {color:#9edab8; font:normal 1.6em 'FertigoProRegular', Arial, sans-serif!important; color:#9edab8!important; text-shadow:#08421f 1px 1px 1px!important;}
.homeheader .sitedescription {padding:120px 280px 0 20px;}
.normalheader .sitedescription {padding:60px 280px 0 20px;}
.photos { margin-bottom:10px; padding:2px;}
.photos a img {background:#b79f80; border:solid 1px; border-color:#a38a68 #e1cdb2 #e1cdb2 #a38a68; padding:5px 6px 6px 5px; display:block; float:left; margin:5px;}
.photos a:hover img {background:#a28a6b;}
.photos a.last {margin-right:0!important;}

.post h1 {font-size:2.6em!important; margin-bottom:10px;}
.post h3 {font-size:1.8em;}
.post h4 {font-size:1.6em;}
.post h3, .post h4 {font-family:'FertigoProRegular', Arial, sans-serif; margin-bottom:10px;}

.post li {display:block; background:url(images/li1.png) 0 5px no-repeat; padding:0 15px; margin-bottom:5px; line-height:18px;}
.post ul, .post ol {margin-bottom:15px;}
.alignleft {float:left;}
.alignright {float:right;}
img.alignleft {background:#b79f80; border:solid 1px; border-color:#a38a68 #e1cdb2 #e1cdb2 #a38a68; padding:5px 6px 6px 5px; display:block; margin:0 10px 10px 0;}
img.alignright {background:#b79f80; border:solid 1px; border-color:#a38a68 #e1cdb2 #e1cdb2 #a38a68; padding:5px 6px 6px 5px; display:block; margin:0 0 10px 10px;}

#commentlist .entry .avatar {height:45px; margin-bottom:10px;}
#commentlist .entry {border:solid 1px #b19979; padding:10px; margin-bottom:10px;}
#commentlist .entry .avatar img {float:left; background:#ae997e; padding:3px; border:solid 1px #dfc9ab;}
#commentlist .entry p {font-size:1.1em; line-height:18px; margin-bottom:10px;}
#commentlist .entry .avatar .author {display:block; margin-left:50px;}
#commentlist .author span, .author time {display:block;}

#commentlist .entry {margin:10px;}
.commentreply {font-size:1.1em; height:18px; line-height:18px; text-align:right;}
#commentform {padding:10px; background:#e3d2bc; border:solid 1px #b19979;}
.form  {padding:10px;}
#commentform p, .form p {display:block; margin-bottom:10px!important; font-size:1.2em;}
.textfield input {display:block; width:480px; height:25px; line-height:24px; border:solid 1px #b09a7c;}
.text-area textarea {display:block; width:480px; height:250px; border:solid 1px #b09a7c;}
.textfield input:hover, .text-area textarea:hover {border:solid 1px #957f62;}
.textfield input:focus, .text-area textarea:focus {border:solid 1px #957f62;}